<div class="card w-25" style="width: 18rem; margin: 0 auto; padding: 20px">
    
    <div class="card-body">
      <div class="card-title">
        <h1>User: <%= @user.name %></h1>
      </div>
      <div class="card-subtitle mb-2 text-muted">
        <h4>Yup</h4>
      </div>
      <h5>Your available wallets:</h5>
      <div class="btn btn-outline-info text-center">
        <%= link_to "My wallet", user_wallet_path(@user, @user.wallet) %>
      </div>
    </div>

</div>